.popup__submit {
  margin: 0;
  padding: 14px 0;
  align-self: stretch;
  /* height: 50px; */
  background: #000000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

@media screen and (max-width: 622px) {
  .popup__submit {
    font-size: 14px;
  }
}

.popup__submit:hover {
  opacity: 0.6;
}