.footer {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 67px 0 60px;
  max-width: 880px;
}

@media screen and (max-width: 924px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 622px) {
  .footer {
    max-width: 301px;
    padding-top: 48px;
    padding-left: 19px;
    padding-bottom: 36px;
    /* flex-direction: column; */
    align-items: flex-start;
  }
}